<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8"/>
<title>Onlist-play-audio</title>
</head>
<body>
<div>
    <div id="folder" align="center">{{ info["folder"] }}</div>

    <div id="content"></div>
    {% for file in info["files"] %}
        <label id="{{ info["folder"]+"/"+file }}">{{ file }}</label>
    {% endfor %}
</div>
<div id="audioBox" align="center">
</div>
</body>
<script type="text/javascript">
    var xmlhttp;
    var files;
    var audio;
    var file;
    window.onload = function () {
        audio = new Audio();
        audio.preload = true;
        audio.controls = true;
        audio.autoplay = true;
        audio.loop = false;
        audio.addEventListener('ended', playEndedHandler, false);
        var folder = document.getElementById('folder').innerText;
        var contents = document.getElementsByTagName('label');
        files = new Array(contents.length);
        for (var i=contents.length-1; i>=0; i--){
            files.push(folder+"/"+contents[i].innerText)
        }
        file = files.pop();
        call(file)
    };

    function call(file) {
        document.getElementById(file).style.color= 'red';
        var url = path_format(file) + "?type=1";
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = callback;
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
    }

    function callback() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            try {
                audio.src = xmlhttp.responseText;
            } catch (e) {
                call(file)
            }
        }
        audio.play();
        document.getElementById("audioBox").appendChild(audio);
    }

    function playEndedHandler() {
        file = files.pop();
        call(file)
    }

    function path_format(path) {
        while (path.includes('//')) {
            path = path.replace('//', '/')
        }

        return '/' + path.replace(/^\/|\/$/g, '')
    }
</script>
</html>